<div class="container">
  <%= simple_form_for(@menu) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.simple_fields_for(:menu_recipes) do |s| %>
          <div class="row my-3">
                  <%= to_day(s.object.day_of_the_week) %>
                  <%= s.input :day_of_the_week, as: :hidden %>
                  <%= s.input :recipe_id, collection: Recipe.all, label: false %>
          </div>
      <% end %>
    </div>

    <div class="form-actions flex items-start">
      <%= f.button :submit, "Atualizar", class: "bg-green-400 text-white mb-4 mr-3" %>
      <%= link_to "Voltar", menu_path(current_user.menu), class: "bg-gray-400 text-white px-2 py-2 rounded" %>
    </div>
  <% end %>
</div>
