<h1><%= @recipe.name %></h1>

<% unless @recipe.link.empty? %>
    <p><%= link_to "link", @recipe.link %></p>
<% end %>

<div class="flex mb-4 items-end">
    <h1>Ingredientes</h1>
    <%= link_to "Add", new_recipe_ingredient_path(@recipe), class: "bg-green-500 text-white px-4 rounded ml-4" %>
</div>
<ul>
<% @recipe.ingredients.each do |ingredient| %>
    <li>
        <%= ingredient.name %>
        <%= link_to edit_recipe_ingredient_path(@recipe, ingredient), class: "ml-4" do %>
            <i class="far fa-edit"></i>
        <% end %>
        <%= link_to recipe_ingredient_path(@recipe, ingredient), method: :delete, data: {confirm: "Tem certeza que deseja apagar o ingrediente?"} do %>
            <i class="fas fa-trash"></i>
        <% end %>
    </li>
<% end %>
</ul>


<div class="flex flex-col">
    <%= link_to "Adicionar para o menu", new_to_menu_recipe_path(@recipe), class: "bg-blue-500 mr-auto px-4 py-2 rounded text-white my-4" %>
    <%= link_to "Editar receita", edit_recipe_path(@recipe), class: "bg-yellow-500 mr-auto px-4 py-2 rounded mb-4" %>
    <%= link_to "Deletar receita", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "mb-4 bg-red-500 text-white mr-auto px-4 py-2 rounded" %>
    <%= link_to "Todas as receitas", recipes_path, class: "bg-green-600 text-white mr-auto px-4 py-2 rounded" %>
</div>

