
<%= simple_form_for(@ingredient, url: recipe_ingredients_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :recipe_ids, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Adicionar ingrediente", class: "bg-green-500 text-white" %>
    <p class="mt-4">
      <%= link_to "Finalizar", recipes_path, class: "bg-blue-500 text-white px-4 py-1" %>
    </p>
  </div>
<% end %>
