<p id="notice"><%= notice %></p>

<p>
  <strong>Str:</strong>
  <%= @example.str %>
</p>

<p>
  <strong>Int:</strong>
  <%= @example.int %>
</p>

<p>
  <strong>Txt:</strong>
  <%= @example.txt %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
